[Unit]
Description=Bunch-Linux wlan enabler service
After=multi-user.target
Wants=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/bin/wlan-enabler.sh

[Install]
WantedBy=multi-user.target
