name: Build on Ubuntu Latest

on: [pull_request]
jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - run: echo "This job is now running on a ${{ runner.os }} server hosted by GitHub!"
      - run: echo "The job was automatically triggered by a ${{ github.event_name }} event."
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: List files in the repository
        run: |
          ls ${{ github.workspace }}
      - name: Setup Python 
        run: pip3 install kas
      - name: Install required deps
        run: sudo apt install chrpath diffstat zstd
      - name: build 
        run: kas build kas/bunch-linux-pipeline.yml --update --force-checkout
